---
Checks: "
        linuxkernel-*,
        clang-analyzer-*,
        misc-*,
        performance-*,
        portability-*,
        -performance-no-int-to-ptr,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
