---
# "-misc-include-cleaner" is only temporary.
Checks: "
        linuxkernel-*,
        clang-analyzer-*,
        misc-*,
        performance-*,
        portability-*,
        -performance-no-int-to-ptr,
        -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
        bugprone-*,
        -bugprone-assignment-in-if-condition,
        -bugprone-easily-swappable-parameters,
        -bugprone-casting-through-void,
        -bugprone-reserved-identifier,
        -misc-include-cleaner,
        -misc-unused-parameters,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
