[package]
name = "kernel_bindings"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["rlib"]

[profile.release]
lto = true

[dependencies]

[build-dependencies]
bindgen = { version = "0.71.1", default-features = true }
